@model AirWatch.Models.AppModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .gauge-wrapper {
        display: table;
        margin-left: 10%;
        background: #77cc9b;
        padding: 45px 50px 50px;
        border-radius: 6px;
        box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.32), 0 1px 9px -1px #15222e;
        margin-top: 123px;
        margin-bottom: 127px;
        scale: 2;
    }

    .heart {
        margin: 0 8px;
        display: inline-block;
        animation: simplePulse ease-in-out 1.1s infinite;
    }

    .gauge {
        font-family: Arial, Helvetica, sans-serif;
        background: #e7e7e7;
        box-shadow: 0 0 0 6px rgba(255, 255, 255, .09), 0 0 35px 5px rgba(255, 255, 255, .29);
        width: 200px;
        height: 100px;
        border-radius: 100px 100px 0 0;
        position: relative;
        overflow: hidden;
        -webkit-transform-style: flat;
        -webkit-transform: translateZ(0px);
    }

        .gauge.min-scaled {
            transform: scale(.5);
        }

    .gauge-center {
        content: '';
        color: #fff;
        width: 60%;
        height: 60%;
        background: #15222E;
        border-radius: 100px 100px 0 0;
        position: absolute;
        box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, .28);
        right: 21%;
        bottom: 0;
        color: #fff;
    }

        .gauge-center::before {
            content: attr(data-value);
            font-size: 20px;
            width: 100%;
            padding: 10px 0 0 0;
            text-align: center;
            float: left;
            -webkit-font-smoothing: antialiased;
        }

        .gauge-center::after {
            content: 'ppm';
            font-size: 12px;
            width: 100%;
            float: left;
            opacity: .6;
            text-align: center;
        }

    .needle {
        width: 78px;
        height: 7px;
        background: #15222E;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 100%;
        border-top-right-radius: 5px;
        position: absolute;
        bottom: 4px;
        left: 20px;
        transform-origin: 100% 4px;
        animation: speed 5s infinite;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .38);
        transition: transform 0.5s ease;
    }

    .gauge-slice-colors .gauge-st {
        position: absolute;
        bottom: 0;
        width: 75px;
        height: 0;
        border-bottom: 80px solid #000;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }

        .gauge-slice-colors .gauge-st.gauge-slice-item:nth-child(1) {
            border-bottom-color: #1eaa59;
            left: -2px;
        }

        .gauge-slice-colors .gauge-st.gauge-slice-item:nth-child(2) {
            border-bottom-color: #9baa1e;
            transform: rotate(135deg);
            transform-origin: right;
            top: 12px;
            left: -65px;
        }

        .gauge-slice-colors .gauge-st.gauge-slice-item:nth-child(3) {
            border-bottom-color: #f1c40f;
            transform: rotate(179deg);
            transform-origin: right;
            top: -3px;
            left: -41px;
            border-bottom-width: 90px;
            border-left-width: 45px;
            border-right-width: 45px;
            width: 18px;
        }

        .gauge-slice-colors .gauge-st.gauge-slice-item:nth-child(4) {
            border-bottom-color: #e67e22;
            transform: rotate(219deg);
            transform-origin: right;
            top: -23px;
            left: 43px;
        }

        .gauge-slice-colors .gauge-st.gauge-slice-item:nth-child(5) {
            border-bottom-color: #E84C3D;
            transform: rotate(240deg);
            transform-origin: right;
            right: 52px;
        }

    .gauge-category, .gauge-title {
        text-align: center;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {

    });
</script>
<div class="bs-docs-section">
    <div class="container" style="display: flex; justify-content: space-between;">
    <div class="gauge-wrapper" style="flex: 1; margin-right: 20px;">
        <div class="gauge-title"><b>Air Quality Index</b></div>
        <div class="gauge">
            <div class="gauge-slice-colors">
                <div class="gauge-st gauge-slice-item"></div>
                <div class="gauge-st gauge-slice-item"></div>
                <div class="gauge-st gauge-slice-item"></div>
                <div class="gauge-st gauge-slice-item"></div>
                <div class="gauge-st gauge-slice-item"></div>
            </div>
            <div class="needle" style="transform: rotate(21.6deg);"></div>
            <div class="gauge-center" data-value="22"></div>
        </div>
        <div class="gauge-category" id="gauge-result">Satisfactory                                      </div>
    </div>
    <div style="flex: 0 0 80%;">
        <div style="margin-left: 5%; margin-top: 12%;">
        <img style="width: 60%;" src="https://scontent.fcrk3-1.fna.fbcdn.net/v/t1.15752-9/386886017_1375948913321098_1787089673909830171_n.png?_nc_cat=109&amp;ccb=1-7&amp;_nc_sid=8cd0a2&amp;_nc_eui2=AeGbBqf1CZmtgbnuWxcZ-iZUk6S7__npiYOTpLv_-emJgyPlJM5qNZrRaKREmHsVw--nTJ3-GTH7bro24LLacK53&amp;_nc_ohc=v_eYmTdlwjQAX-65YTW&amp;_nc_ht=scontent.fcrk3-1.fna&amp;oh=03_AdSstJxAuDGfFq-t_fvPQxokpD_YJj8ukcZ1up3cWV85Qw&amp;oe=658A57EB" alt="">
    </div>
    </div>
</div>

    <br />

    <div class="row">
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Humidity</div>
                <div class="card-body">
                    <div id="humidityChart" style="height: 370px; "></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Ammonia</div>
                <div class="card-body">
                    <div id="ammoniaChart" style="height: 370px; "></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Sulfur dioxide</div>
                <div class="card-body">
                    <div id="sulfurChart" style="height: 370px; "></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Temperature</div>
                <div class="card-body">
                    <div id="temperatureChart" style="height: 370px; "></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Carbon Monoxide</div>
                <div class="card-body">
                    <div id="carbonChart" style="height: 370px; "></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Nitrogen Oxide</div>
                <div class="card-body">
                    <div id="NitrogenChart" style="height: 370px; "></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card border-dark mb-4">
                <div class="card-header">Current Reading</div>
                <div class="card-body">
                    <div id="chartContainer" style="height: 370px; width: 100;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <link rel="stylesheet" href="https://www.awxcdn.com/adc-assets/bundles/8002.55fb496a5ab5a992c549.css">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            @* <div class="air-quality-current-pollutants pollutants">
                <div class="tabs-nav">

                    <div class="horizontal-menu tabs">
                        <div class="overflow overflow-left">
                            <svg class="arrow chevron-icon left" xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"><path d="M10 .969L9.037 0 5 4.063.963 0 0 .969 5 6z"></path></svg>
                        </div>
                        <div class="overflow overflow-right">
                            <svg class="arrow chevron-icon right" xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"><path d="M10 .969L9.037 0 5 4.063.963 0 0 .969 5 6z"></path></svg>
                        </div>
                        <div class="menu-items">

                            <h2 id="current-pollutants" class="tab active" data-content="pollutants" onclick="currentPollutants()">
                                Current Pollutants
                            </h2>
                            <h2 id="aqi" class="tab" data-content="scale" onclick="aqi()">
                                Air Quality Scale
                            </h2>
                            <script>
                                function currentPollutants() {
                                    $("#current-pollutants").addClass("active");
                                    $("#aqi").removeClass("active");
                                    $("#aqi_content").css("display","none");
                                    $("#current_pollutants_content").css("display","");
                                }
                                function aqi() {
                                    $("#current-pollutants").removeClass("active");
                                    $("#aqi").addClass("active");
                                    $("#aqi_content").css("display", "");
                                    $("#current_pollutants_content").css("display", "none");
                                }
                            </script>
                        </div>
                    </div>
                </div>
                <div id="current_pollutants_content" class="tabs-content">
                    <div id="pollutants" class="tab-content pollutants">

                        <div class="air-quality-pollutant new-colors" data-qa="airQualityPollutantPM2_5">
                            <h3 class="column">
                                <div class="display-type">
                                    PM <sub conditional="PM">2.5</sub>
                                </div>
                                <div class="category-color-bar fair"></div>
                                <div class="category">Fair</div>
                            </h3>
                            <div class="column mobile-middle">
                                <div class="pollutant-index">31</div>
                                <div class="pollutant-concentration">9 µg/m³</div>
                            </div>
                            <h4 class="column">
                                <div class="statement-wrapper statement-expand">
                                    <div class="statement">


                                        <a class="statement-link" rel="noopener noreferrer" target="_blank" href="https://air.plumelabs.com/learn/en/particulate-matter?utm_source=accuweather&amp;utm_medium=pm25&amp;utm_campaign=aq_page#ae16">
                                            Fine Particulate Matter <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                                <defs>
                                                    <filter id="eg1bz4m6ra">
                                                        <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0"></feColorMatrix>
                                                    </filter>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <g filter="url(#eg1bz4m6ra)" transform="translate(-387 -175) translate(1) translate(0 48) translate(0 108) translate(283 16)">
                                                                        <g>
                                                                            <path fill="#757575" d="M4.025 1.258v1.51H1.5v7.722h7.7V7.95h1.5v3.295c0 .417-.336.755-.75.755H.75c-.2.007-.395-.07-.538-.214-.142-.143-.219-.339-.212-.541V2.013c-.007-.203.07-.399.212-.542.143-.143.337-.22.538-.213h3.275zM11.549 0l.1.05h.05l.2.202v.05c.025.025.025.05.05.1.002.02.01.038.025.05v.076c.02.048.029.1.025.151v4.704c0 .417-.336.755-.75.755s-.75-.338-.75-.755V2.49L7.175 5.836c-.133.15-.326.233-.525.227-.198-.003-.387-.085-.525-.227C5.98 5.7 5.9 5.508 5.9 5.308s.081-.39.225-.528l3.324-3.27H6.575c-.414 0-.75-.339-.75-.755 0-.417.336-.755.75-.755h4.974z" transform="translate(103 3)"></path>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a> are
                                        inhalable pollutant particles with a diameter less than
                                        2.5 micrometers that can enter the lungs and bloodstream, resulting in serious health issues.
                                        The most severe impacts are on the lungs and heart. Exposure can result in coughing or
                                        difficulty breathing, aggravated asthma, and the development of chronic respiratory disease.


                                    </div>
                                    <div class="show-more-statement">
                                        <span class="ellipsis">...</span>more
                                    </div>
                                </div>
                            </h4>
                            <div class="column desktop-left">
                                <div class="pollutant-index">31</div>
                                <div class="pollutant-concentration">9 µg/m³</div>
                            </div>
                        </div>


                        <div class="air-quality-pollutant new-colors" data-qa="airQualityPollutantPM10">
                            <h3 class="column">
                                <div class="display-type">
                                    PM <sub conditional="PM">10</sub>
                                </div>
                                <div class="category-color-bar fair"></div>
                                <div class="category">Fair</div>
                            </h3>
                            <div class="column mobile-middle">
                                <div class="pollutant-index">22</div>
                                <div class="pollutant-concentration">17 µg/m³</div>
                            </div>
                            <h4 class="column">
                                <div class="statement-wrapper statement-expand">
                                    <div class="statement">


                                        <a class="statement-link" rel="noopener noreferrer" target="_blank" href="https://air.plumelabs.com/learn/en/particulate-matter?utm_source=accuweather&amp;utm_medium=pm10&amp;utm_campaign=aq_page#ae16">
                                            Particulate Matter <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                                <defs>
                                                    <filter id="eg1bz4m6ra">
                                                        <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0"></feColorMatrix>
                                                    </filter>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <g filter="url(#eg1bz4m6ra)" transform="translate(-387 -175) translate(1) translate(0 48) translate(0 108) translate(283 16)">
                                                                        <g>
                                                                            <path fill="#757575" d="M4.025 1.258v1.51H1.5v7.722h7.7V7.95h1.5v3.295c0 .417-.336.755-.75.755H.75c-.2.007-.395-.07-.538-.214-.142-.143-.219-.339-.212-.541V2.013c-.007-.203.07-.399.212-.542.143-.143.337-.22.538-.213h3.275zM11.549 0l.1.05h.05l.2.202v.05c.025.025.025.05.05.1.002.02.01.038.025.05v.076c.02.048.029.1.025.151v4.704c0 .417-.336.755-.75.755s-.75-.338-.75-.755V2.49L7.175 5.836c-.133.15-.326.233-.525.227-.198-.003-.387-.085-.525-.227C5.98 5.7 5.9 5.508 5.9 5.308s.081-.39.225-.528l3.324-3.27H6.575c-.414 0-.75-.339-.75-.755 0-.417.336-.755.75-.755h4.974z" transform="translate(103 3)"></path>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a> are
                                        inhalable pollutant particles with a diameter less than 10 micrometers.
                                        Particles that are larger than 2.5 micrometers can be deposited in airways, resulting in
                                        health issues. Exposure can result in eye and throat irritation, coughing or difficulty
                                        breathing, and aggravated asthma. More frequent and excessive exposure can result in more
                                        serious health effects.


                                    </div>
                                    <div class="show-more-statement">
                                        <span class="ellipsis">...</span>more
                                    </div>
                                </div>
                            </h4>
                            <div class="column desktop-left">
                                <div class="pollutant-index">22</div>
                                <div class="pollutant-concentration">17 µg/m³</div>
                            </div>
                        </div>


                        <div class="air-quality-pollutant new-colors" data-qa="airQualityPollutantO3">
                            <h3 class="column">
                                <div class="display-type">
                                    O <sub conditional="O">3</sub>
                                </div>
                                <div class="category-color-bar excellent"></div>
                                <div class="category">Excellent</div>
                            </h3>
                            <div class="column mobile-middle">
                                <div class="pollutant-index">18</div>
                                <div class="pollutant-concentration">53 µg/m³</div>
                            </div>
                            <h4 class="column">
                                <div class="statement-wrapper">
                                    <div class="statement">


                                        Ground-level <a class="statement-link" rel="noopener noreferrer" target="_blank" href="https://air.plumelabs.com/learn/en/ozone?utm_source=accuweather&amp;utm_medium=o3&amp;utm_campaign=aq_page#ae16">
                                            Ozone <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                                <defs>
                                                    <filter id="eg1bz4m6ra">
                                                        <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0"></feColorMatrix>
                                                    </filter>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <g filter="url(#eg1bz4m6ra)" transform="translate(-387 -175) translate(1) translate(0 48) translate(0 108) translate(283 16)">
                                                                        <g>
                                                                            <path fill="#757575" d="M4.025 1.258v1.51H1.5v7.722h7.7V7.95h1.5v3.295c0 .417-.336.755-.75.755H.75c-.2.007-.395-.07-.538-.214-.142-.143-.219-.339-.212-.541V2.013c-.007-.203.07-.399.212-.542.143-.143.337-.22.538-.213h3.275zM11.549 0l.1.05h.05l.2.202v.05c.025.025.025.05.05.1.002.02.01.038.025.05v.076c.02.048.029.1.025.151v4.704c0 .417-.336.755-.75.755s-.75-.338-.75-.755V2.49L7.175 5.836c-.133.15-.326.233-.525.227-.198-.003-.387-.085-.525-.227C5.98 5.7 5.9 5.508 5.9 5.308s.081-.39.225-.528l3.324-3.27H6.575c-.414 0-.75-.339-.75-.755 0-.417.336-.755.75-.755h4.974z" transform="translate(103 3)"></path>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a> can aggravate existing respiratory
                                        diseases and also lead to throat irritation, headaches, and chest pain.


                                    </div>
                                    <div class="show-more-statement">
                                        <span class="ellipsis">...</span>more
                                    </div>
                                </div>
                            </h4>
                            <div class="column desktop-left">
                                <div class="pollutant-index">18</div>
                                <div class="pollutant-concentration">53 µg/m³</div>
                            </div>
                        </div>


                        <div class="air-quality-pollutant new-colors" data-qa="airQualityPollutantSO2">
                            <h3 class="column">
                                <div class="display-type">
                                    SO <sub conditional="SO">2</sub>
                                </div>
                                <div class="category-color-bar excellent"></div>
                                <div class="category">Excellent</div>
                            </h3>
                            <div class="column mobile-middle">
                                <div class="pollutant-index">4</div>
                                <div class="pollutant-concentration">4 µg/m³</div>
                            </div>
                            <h4 class="column">
                                <div class="statement-wrapper">
                                    <div class="statement">

                                        Exposure to Sulfur Dioxide can lead to throat and eye irritation and aggravate asthma as well as chronic bronchitis.

                                    </div>
                                    <div class="show-more-statement">
                                        <span class="ellipsis">...</span>more
                                    </div>
                                </div>
                            </h4>
                            <div class="column desktop-left">
                                <div class="pollutant-index">4</div>
                                <div class="pollutant-concentration">4 µg/m³</div>
                            </div>
                        </div>


                        <div class="air-quality-pollutant new-colors" data-qa="airQualityPollutantNO2">
                            <h3 class="column">
                                <div class="display-type">
                                    NO <sub conditional="NO">2</sub>
                                </div>
                                <div class="category-color-bar excellent"></div>
                                <div class="category">Excellent</div>
                            </h3>
                            <div class="column mobile-middle">
                                <div class="pollutant-index">2</div>
                                <div class="pollutant-concentration">1 µg/m³</div>
                            </div>
                            <h4 class="column">
                                <div class="statement-wrapper statement-expand">
                                    <div class="statement">


                                        Breathing in high levels of <a class="statement-link" rel="noopener noreferrer" target="_blank" href="https://air.plumelabs.com/learn/en/no2?utm_source=accuweather&amp;utm_medium=no2&amp;utm_campaign=aq_page#ae16">
                                            Nitrogen Dioxide <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                                <defs>
                                                    <filter id="eg1bz4m6ra">
                                                        <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0"></feColorMatrix>
                                                    </filter>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <g filter="url(#eg1bz4m6ra)" transform="translate(-387 -175) translate(1) translate(0 48) translate(0 108) translate(283 16)">
                                                                        <g>
                                                                            <path fill="#757575" d="M4.025 1.258v1.51H1.5v7.722h7.7V7.95h1.5v3.295c0 .417-.336.755-.75.755H.75c-.2.007-.395-.07-.538-.214-.142-.143-.219-.339-.212-.541V2.013c-.007-.203.07-.399.212-.542.143-.143.337-.22.538-.213h3.275zM11.549 0l.1.05h.05l.2.202v.05c.025.025.025.05.05.1.002.02.01.038.025.05v.076c.02.048.029.1.025.151v4.704c0 .417-.336.755-.75.755s-.75-.338-.75-.755V2.49L7.175 5.836c-.133.15-.326.233-.525.227-.198-.003-.387-.085-.525-.227C5.98 5.7 5.9 5.508 5.9 5.308s.081-.39.225-.528l3.324-3.27H6.575c-.414 0-.75-.339-.75-.755 0-.417.336-.755.75-.755h4.974z" transform="translate(103 3)"></path>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a> increases the risk of
                                        respiratory problems. Coughing and difficulty breathing are common and
                                        more serious health issues such as respiratory infections can occur with longer exposure.


                                    </div>
                                    <div class="show-more-statement">
                                        <span class="ellipsis">...</span>more
                                    </div>
                                </div>
                            </h4>
                            <div class="column desktop-left">
                                <div class="pollutant-index">2</div>
                                <div class="pollutant-concentration">1 µg/m³</div>
                            </div>
                        </div>


                        <div class="air-quality-pollutant new-colors" data-qa="airQualityPollutantCO">
                            <h3 class="column">
                                <div class="display-type">
                                    CO <sub conditional="CO"></sub>
                                </div>
                                <div class="category-color-bar excellent"></div>
                                <div class="category">Excellent</div>
                            </h3>
                            <div class="column mobile-middle">
                                <div class="pollutant-index">1</div>
                                <div class="pollutant-concentration">143 µg/m³</div>
                            </div>
                            <h4 class="column">
                                <div class="statement-wrapper">
                                    <div class="statement">

                                        Carbon Monoxide is a colorless and odorless gas and when inhaled at high levels can cause headache, nausea, dizziness, and vomiting. Repeated long-term exposure can lead to heart disease

                                    </div>
                                    <div class="show-more-statement">
                                        <span class="ellipsis">...</span>more
                                    </div>
                                </div>
                            </h4>
                            <div class="column desktop-left">
                                <div class="pollutant-index">1</div>
                                <div class="pollutant-concentration">143 µg/m³</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="aqi_content" class="tabs-content" style="display:none">
                    <div id="scale" class="tab-content scale">
                        <div class="scale-item">
                            <div class="top-row">
                                <div>
                                    <div class="category-color-bar" style="background: #1DCFFF;"></div>
                                    <div class="category">Excellent</div>
                                </div>
                                <div class="range">0 - 19</div>
                            </div>
                            <div class="statement">The air quality is ideal for most individuals; enjoy your normal outdoor activities.</div>
                        </div>
                        <div class="scale-item">
                            <div class="top-row">
                                <div>
                                    <div class="category-color-bar" style="background: #43D357;"></div>
                                    <div class="category">Fair</div>
                                </div>
                                <div class="range">20 - 49</div>
                            </div>
                            <div class="statement">The air quality is generally acceptable for most individuals. However, sensitive groups may experience minor to moderate symptoms from long-term exposure.</div>
                        </div>
                        <div class="scale-item">
                            <div class="top-row">
                                <div>
                                    <div class="category-color-bar" style="background: #FDB80D;"></div>
                                    <div class="category">Poor</div>
                                </div>
                                <div class="range">50 - 99</div>
                            </div>
                            <div class="statement">The air has reached a high level of pollution and is unhealthy for sensitive groups. Reduce time spent outside if you are feeling symptoms such as difficulty breathing or throat irritation.</div>
                        </div>
                        <div class="scale-item">
                            <div class="top-row">
                                <div>
                                    <div class="category-color-bar" style="background: #E9365A;"></div>
                                    <div class="category">Unhealthy</div>
                                </div>
                                <div class="range">100 - 149</div>
                            </div>
                            <div class="statement">Health effects can be immediately felt by sensitive groups. Healthy individuals may experience difficulty breathing and throat irritation with prolonged exposure. Limit outdoor activity.</div>
                        </div>
                        <div class="scale-item">
                            <div class="top-row">
                                <div>
                                    <div class="category-color-bar" style="background: #A829D4;"></div>
                                    <div class="category">Very Unhealthy</div>
                                </div>
                                <div class="range">150 - 249</div>
                            </div>
                            <div class="statement">Health effects will be immediately felt by sensitive groups and should avoid outdoor activity. Healthy individuals are likely to experience difficulty breathing and throat irritation; consider staying indoors and rescheduling outdoor activities.</div>
                        </div>
                        <div class="scale-item">
                            <div class="top-row">
                                <div>
                                    <div class="category-color-bar" style="background: #6A0AFF;"></div>
                                    <div class="category">Dangerous</div>
                                </div>
                                <div class="range">250+</div>
                            </div>
                            <div class="statement">Any exposure to the air, even for a few minutes, can lead to serious health effects on everybody. Avoid outdoor activities.</div>
                        </div>
                    </div>
                </div>
            </div> *@
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script>
    var currentEDID = 0;
    var needle123 = document.querySelector('.needle');
    var humidityLimit = 100;
    var ammoniaLimit = 450;
    var sulfurLimit = 50;
    var temperatureLimit = 100;
    var carbonMonoxideLimit = 50;
    var nitrogenOxideLimit = 50;

    window.onload = function () {
        needle123.style.transform = 'rotate(0deg)'; // set needle value

        const gaugeCenter = document.querySelector('.gauge-center');
        gaugeCenter.setAttribute('data-value', 0);

        const needle = document.querySelector('.needle');

        setInterval(() => {
            const style = window.getComputedStyle(needle, null);
            const transform = style.getPropertyValue('transform');
            // Extract the current degree from the transform property
            const values = transform.split('(')[1].split(')')[0].split(',');
            let a = values[0];
            let b = values[1];
            let c = values[2];
            let d = values[3];
            let radians = Math.atan2(b, a);
            let angle = Math.round((radians * (180 / Math.PI)));

            // const gaugeCenter = document.querySelector('.gauge-center');
            gaugeCenter.setAttribute('data-value', angle);
        }, 10)

        var updateInterval = 5;

        var hummidityDataPoints1 = [];
        var ammoniaDataPoints1 = [];
        var sulfurDataPoints1 = [];
        var temperatureDataPoints1 = [];
        var carbonDataPoints1 = [];
        var nitrogenDataPoints1 = [];
        //var dataPoints2 = [];

        var chart = new CanvasJS.Chart("humidityChart", {
            zoomEnabled: true,
            title: {
                //text: "Share Value of Two Companies"  // remove title
            },
            axisX: {
                title: "chart updates every " + updateInterval + " secs"
            },
            axisY: {
                //title: " Humidity"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "top",
                fontSize: 22,
                fontColor: "dimGrey",
                itemclick: toggleDataSeries
            },
            data: [
                {
                    type: "line",
                    xValueType: "dateTime",
                    yValueFormatString: "####.00",
                    xValueFormatString: "hh:mm:ss TT",
                    showInLegend: true,
                    name: "Humidity",
                    prefix: "test",
                    dataPoints: hummidityDataPoints1,
                    color: "green"
                },
                //{
                //    type: "line",
                //    xValueType: "dateTime",
                //    yValueFormatString: "$####.00",
                //    showInLegend: true,
                //    name: "Company B",
                //    dataPoints: dataPoints2
                //}
            ]
        });

        var ammoniaChart = new CanvasJS.Chart("ammoniaChart", {
            zoomEnabled: true,
            title: {
            },
            axisX: {
                title: "chart updates every " + updateInterval + " secs"
            },
            axisY: {
                //title: " Ammonia"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "top",
                fontSize: 22,
                fontColor: "dimGrey",
                itemclick: toggleDataSeries
            },
            data: [
                {
                    type: "line",
                    xValueType: "dateTime",
                    yValueFormatString: "####.00",
                    xValueFormatString: "hh:mm:ss TT",
                    showInLegend: true,
                    name: "Ammonia",
                    dataPoints: ammoniaDataPoints1,
                    color: "green"
                },
            ]
        });

        var sulfurChart = new CanvasJS.Chart("sulfurChart", {
            zoomEnabled: true,
            title: {
            },
            axisX: {
                title: "chart updates every " + updateInterval + " secs"
            },
            axisY: {
                //title: " SULFUR DIOXIDE"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "top",
                fontSize: 22,
                fontColor: "dimGrey",
                itemclick: toggleDataSeries
            },
            data: [
                {
                    type: "line",
                    xValueType: "dateTime",
                    yValueFormatString: "####.00",
                    xValueFormatString: "hh:mm:ss TT",
                    showInLegend: true,
                    name: "Sulfur Dioxide",
                    dataPoints: sulfurDataPoints1,
                    color: "green"
                },
            ]
        });

        var temperatureChart = new CanvasJS.Chart("temperatureChart", {
            zoomEnabled: true,
            title: {
            },
            axisX: {
                title: "chart updates every " + updateInterval + " secs"
            },
            axisY: {
                //title: " Ammonia"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "top",
                fontSize: 22,
                fontColor: "dimGrey",
                itemclick: toggleDataSeries
            },
            data: [
                {
                    type: "line",
                    xValueType: "dateTime",
                    yValueFormatString: "####.00",
                    xValueFormatString: "hh:mm:ss TT",
                    showInLegend: true,
                    name: "Temperature",
                    dataPoints: temperatureDataPoints1,
                    color: "green"
                },
            ]
        });

        var carbonChart = new CanvasJS.Chart("carbonChart", {
            zoomEnabled: true,
            title: {
            },
            axisX: {
                title: "chart updates every " + updateInterval + " secs"
            },
            axisY: {
                //title: " Ammonia"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "top",
                fontSize: 22,
                fontColor: "dimGrey",
                itemclick: toggleDataSeries
            },
            data: [
                {
                    type: "line",
                    xValueType: "dateTime",
                    yValueFormatString: "####.00",
                    xValueFormatString: "hh:mm:ss TT",
                    showInLegend: true,
                    name: "Carbon Monoxide",
                    dataPoints: carbonDataPoints1,
                    color: "green"
                },
            ]
        });

        var NitrogenChart = new CanvasJS.Chart("NitrogenChart", {
            zoomEnabled: true,
            title: {
            },
            axisX: {
                title: "chart updates every " + updateInterval + " secs"
            },
            axisY: {
                //title: " Ammonia"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "top",
                fontSize: 22,
                fontColor: "dimGrey",
                itemclick: toggleDataSeries
            },
            data: [
                {
                    type: "line",
                    xValueType: "dateTime",
                    yValueFormatString: "####.00",
                    xValueFormatString: "hh:mm:ss TT",
                    showInLegend: true,
                    name: "Nitrogen Oxide",
                    dataPoints: nitrogenDataPoints1,
                    color: "green"
                },
            ]
        });

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }

        function getdata() {
            $.ajax({
                url: "/Data/GetData", // API endpoint
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var prevEDID = currentEDID;
                    currentEDID = data.EDID;
                    if (currentEDID > prevEDID) {
                        if (data.AMMONIA > ammoniaLimit) {
                            $("#notificationBody").text("Amonnia readings is above average");
                            $("#notificationModal").modal("show");
                        }
                        else if (data.CARBONMONOXIDE > carbonMonoxideLimit) {
                            $("#notificationBody").text("Carbon Monoxide readings is above average");
                            $("#notificationModal").modal("show");
                        }
                        else if (data.NITROGENOXIDE > nitrogenOxideLimit) {
                            $("#notificationBody").text("Nitrogen Oxide readings is above average");
                            $("#notificationModal").modal("show");
                        }
                        else if (data.SULFURDIOXICE > sulfurLimit) {
                            $("#notificationBody").text("Sulfur Oxide readings is above average");
                            $("#notificationModal").modal("show");
                        }
                        RenderChartData(data);
                    }
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        }

        function microsoftJsonDateToJsDate(msJsonDate) {
            //// Extract the numeric part (ticks) from the string
            //const match = /\/Date\((\d+)\)\//.exec(msJsonDate);
            //if (!match || match.length < 2) {
            //    throw new Error('Invalid Microsoft JSON Date format.');
            //}

            //// Convert the ticks to milliseconds
            //const ticks = parseInt(match[1], 10);

            // Create a JavaScript Date object using the milliseconds (interpreted as UTC)
            const jsDateUtc = new Date(msJsonDate);

            return jsDateUtc;
        }

        function RenderChartData(data) {
            // Convert Date to UTC
            var ex = microsoftJsonDateToJsDate(data.CREATEDDATE);

            /////////////////////////////////////////
            //       UPDATE HUMIDITY               //
            /////////////////////////////////////////
            hummidityDataPoints1.push({
                x: ex,
                y: data.HUMIDITY
            });
            chart.options.data[0].legendText = " Humidity " + data.HUMIDITY + "%";
            chart.render();

            /////////////////////////////////////////
            //       UPDATE AMMONIA                //
            /////////////////////////////////////////
            ammoniaDataPoints1.push({
                x: ex,
                y: data.AMMONIA
            });
            ammoniaChart.options.data[0].legendText = " Ammonia " + data.AMMONIA;
            ammoniaChart.render();

            /////////////////////////////////////////
            //       UPDATE SULFUR                 //
            /////////////////////////////////////////
            sulfurDataPoints1.push({
                x: ex,
                y: data.SULFURDIOXICE
            });
            sulfurChart.options.data[0].legendText = " Sulfur " + data.SULFURDIOXICE + " 4 µg/m³";
            sulfurChart.render();

            /////////////////////////////////////////
            //       UPDATE TEMPERATURE            //
            /////////////////////////////////////////
            temperatureDataPoints1.push({
                x: ex,
                y: data.TEMPERATURE
            });
            temperatureChart.options.data[0].legendText = " Temperature " + data.TEMPERATURE + " °C";
            temperatureChart.render();

            /////////////////////////////////////////
            //       UPDATE CARBON                 //
            /////////////////////////////////////////
            carbonDataPoints1.push({
                x: ex,
                y: data.CARBONMONOXIDE
            });
            carbonChart.options.data[0].legendText = " Carbon Monoxide " + data.CARBONMONOXIDE + " 169 µg/m³";
            carbonChart.render();

            /////////////////////////////////////////
            //       UPDATE NITROGEN               //
            /////////////////////////////////////////
            nitrogenDataPoints1.push({
                x: ex,
                y: data.NITROGENOXIDE
            });
            NitrogenChart.options.data[0].legendText = " Nitrogen Oxide " + data.NITROGENOXIDE + " 1 µg/m³";
            NitrogenChart.render();

            /////////////////////////////////////////
            //          UPDATE BAR                 //
            /////////////////////////////////////////

            var dps = chart123.options.data[0].dataPoints;
            dps[0] = { label: "Humidity", y: data.HUMIDITY };
            dps[1] = { label: "Ammonia", y: data.AMMONIA };
            dps[2] = { label: "Sulfur Dioxide", y: data.SULFURDIOXICE };
            dps[3] = { label: "Temperature", y: data.TEMPERATURE };
            dps[4] = { label: "Carbon Monoxide", y: data.CARBONMONOXIDE };
            dps[5] = { label: "Nitrogen Oxide", y: data.NITROGENOXIDE };

            chart123.options.data[0].dataPoints = dps;
            chart123.render();

            /////////////////////////////////////////
            //          UPDATE GAUGE               //
            /////////////////////////////////////////

            var AQI = data.AQI;

            var eqDeg = (AQI / 500) * 180;

            needle123.style.transform = 'rotate(' + eqDeg + 'deg)';

            document.getElementById("gauge-result").innerHTML = data.AQICATEGORY;
        }


        function updateChart() {
            var boilerColor, deltaY, yVal;
            var dps = chart123.options.data[0].dataPoints;
            for (var i = 0; i < dps.length; i++) {
                deltaY = Math.round(2 + Math.random() * (-2 - 2));
                yVal = deltaY + dps[i].y > 0 ? dps[i].y + deltaY : 0;
                boilerColor = yVal > 200 ? "#FF2500" : yVal >= 170 ? "#FF6000" : yVal < 170 ? "#6B8E23 " : null;
                dps[i] = { label: "Boiler " + (i + 1), y: yVal, color: boilerColor };
            }
            chart123.options.data[0].dataPoints = dps;
            chart123.render();
        };

        $.ajax({
            url: "/Data/GetOneHundred", // API endpoint
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data.length == 0) {
                    console.log("no data");
                    setInterval(function () { getdata() }, updateInterval * 1000);
                }
                else {
                    data.forEach(function (values) {
                        RenderChartData(values);
                    });
                    setInterval(function () { getdata() }, updateInterval * 1000);

                }

            },
            error: function (error) {
                console.error("Error:", error);
            }
        });

        var chart123 = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Current Reading"
            },
            axisY: {
                //title: "Temperature (°C)",
                includeZero: true,
                //suffix: " °C"
            },
            data: [{
                type: "column",
                yValueFormatString: "#,###",
                indexLabel: "{y}",
                dataPoints: [
                    { label: "Humidity", y: 206 },
                    { label: "Ammonia", y: 163 },
                    { label: "Sulfur Dioxide", y: 154 },
                    { label: "Temperature", y: 176 },
                    { label: "Carbon Monoxide", y: 184 },
                    { label: "Nitrogen Oxide", y: 122 }
                ]
            }]
        });
    }
    function closeModal() {
        $("#notificationModal").modal("hide");
    }
</script>

<!-- Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red;">
                <div style="margin: 0 auto; color: white">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Warning!</h5>
                </div>
            </div>
            <div class="modal-body" id="notificationBody">
                Amonnia readings is above average
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>