@model AirWatch.Models.AppModel
@{
    ViewBag.Title = "Home Page";
}

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Humidity</div>
                <div class="card-body">
                    <canvas width="800" height="600" id="humidityChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Ammonia</div>
                <div class="card-body">
                    <canvas id="ammoniaChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Sulfur dioxide</div>
                <div class="card-body">
                    <canvas width="800" height="600" id="SulfurChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Temperature</div>
                <div class="card-body">
                    <canvas width="800" height="600" id="temperatureChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Carbon Monoxide</div>
                <div class="card-body">
                    <canvas width="800" height="600" id="carbonChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">Nitrogen Oxide</div>
                <div class="card-body">
                    <canvas width="800" height="600" id="NitrogenChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    window.onload = function () {
        
        const humidityctx = document.getElementById('humidityChart');

        new Chart(humidityctx, {
            type: 'line',
            data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: 'Humidity',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });

        const AmmoniaChart = document.getElementById('ammoniaChart');

        new Chart(AmmoniaChart, {
            type: 'line',
            data: {
                labels: ['qwe', 'asd', 'dfgd', 'cxvx', 'ewrw', 'dffg'],
                datasets: [{
                    label: 'Ammonia',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const SulfurChart = document.getElementById('SulfurChart');

        new Chart(SulfurChart, {
            type: 'line',
            data: {
                labels: ['qwe', 'asd', 'dfgd', 'cxvx', 'ewrw', 'dffg'],
                datasets: [{
                    label: 'Sulfur Dioxide',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1,
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const TemperatureChart = document.getElementById('temperatureChart');

        new Chart(TemperatureChart, {
            type: 'line',
            data: {
                labels: ['qwe', 'asd', 'dfgd', 'cxvx', 'ewrw', 'dffg'],
                datasets: [{
                    label: 'Temperature',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1,
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const carbonChart = document.getElementById('carbonChart');

        new Chart(carbonChart, {
            type: 'line',
            data: {
                labels: ['qwe', 'asd', 'dfgd', 'cxvx', 'ewrw', 'dffg'],
                datasets: [{
                    label: 'Carbon Monoxide',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1,
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const NitrogenChart = document.getElementById('NitrogenChart');

        new Chart(NitrogenChart, {
            type: 'line',
            data: {
                labels: ['qwe', 'asd', 'dfgd', 'cxvx', 'ewrw', 'dffg'],
                datasets: [{
                    label: 'Nitrogen Oxide',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1,
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    };

</script>