USE [AirWatchDB]
GO
/****** Object:  Table [dbo].[TBL_ACCOUNTS]    Script Date: 11/09/2023 10:44:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ACCOUNTS](
	[ACCOUNTID] [uniqueidentifier] NOT NULL,
	[FIRSTNAME] [nvarchar](50) NOT NULL,
	[MIDDLENAME] [nvarchar](50) NOT NULL,
	[LASTNAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ACTIVATION]    Script Date: 11/09/2023 10:44:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ACTIVATION](
	[ACTIVATIONID] [uniqueidentifier] NOT NULL,
	[CODE] [nvarchar](6) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CONFIGURATION]    Script Date: 11/09/2023 10:44:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CONFIGURATION](
	[CONFIGURATIONID] [uniqueidentifier] NOT NULL,
	[CONFIGURATIONKEY] [nvarchar](50) NOT NULL,
	[CONFIGURATINVALUESTRING] [nvarchar](50) NULL,
	[CONFIGURATIONVALUEINT] [int] NULL,
	[CONFIGURATIONVALUEBOOL] [bit] NULL,
	[CONFIGURATIONVALUEGUID] [uniqueidentifier] NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CONFIGURATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ENVIRONMENTDATA]    Script Date: 11/09/2023 10:44:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ENVIRONMENTDATA](
	[ENVIRONMENTDATEID] [uniqueidentifier] NOT NULL,
	[EDID] [int] IDENTITY(1,1) NOT NULL,
	[HUMIDITY] [int] NOT NULL,
	[AMMONIA] [int] NOT NULL,
	[SULFURDIOXICE] [int] NOT NULL,
	[TEMPERATURE] [int] NOT NULL,
	[CARBONMONOXIDE] [int] NOT NULL,
	[NITROGENOXIDE] [int] NOT NULL,
	[ISDISPLAYED] [bit] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ENVIRONMENTDATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_ACCOUNTS] ([ACCOUNTID], [FIRSTNAME], [MIDDLENAME], [LASTNAME], [EMAIL], [USERNAME], [PASSWORD], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'9b685ed5-3d23-470a-9e10-aa22dbb59892', N'admin', N'admin', N'admin', N'enriquez.jliquigan@gmail.com', N'admin', N'qwe', CAST(N'2023-09-05T12:41:10.997' AS DateTime), NULL, CAST(N'2023-09-07T20:37:12.467' AS DateTime), N'9b685ed5-3d23-470a-9e10-aa22dbb59892')
INSERT [dbo].[TBL_ACTIVATION] ([ACTIVATIONID], [CODE], [EMAIL], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'8c879d38-47ad-4cca-9c4a-8d4f2db5267e', N'533249', N'enriquez.jliquigan@gmail.com', CAST(N'2023-09-07T20:36:42.183' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_CONFIGURATION] ([CONFIGURATIONID], [CONFIGURATIONKEY], [CONFIGURATINVALUESTRING], [CONFIGURATIONVALUEINT], [CONFIGURATIONVALUEBOOL], [CONFIGURATIONVALUEGUID], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'a8f075e4-f61a-41c1-bbe3-50ff63cbeb5f', N'APIKEY', NULL, NULL, NULL, N'edd31e6f-f788-4a47-b6d5-d96584fdd237', CAST(N'2023-09-08T23:03:51.467' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_ENVIRONMENTDATA] ON 

INSERT [dbo].[TBL_ENVIRONMENTDATA] ([ENVIRONMENTDATEID], [EDID], [HUMIDITY], [AMMONIA], [SULFURDIOXICE], [TEMPERATURE], [CARBONMONOXIDE], [NITROGENOXIDE], [ISDISPLAYED], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'1437ef86-6781-4169-adb9-033cc78e4cf3', 159, 3, 1, 1, 1, 1, 1, 0, CAST(N'2023-09-10T18:27:33.263' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_ENVIRONMENTDATA] ([ENVIRONMENTDATEID], [EDID], [HUMIDITY], [AMMONIA], [SULFURDIOXICE], [TEMPERATURE], [CARBONMONOXIDE], [NITROGENOXIDE], [ISDISPLAYED], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'024a5136-b43f-4b23-a86a-05899ce921f6', 158, 2, 1, 1, 1, 1, 1, 0, CAST(N'2023-09-10T18:27:28.553' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_ENVIRONMENTDATA] ([ENVIRONMENTDATEID], [EDID], [HUMIDITY], [AMMONIA], [SULFURDIOXICE], [TEMPERATURE], [CARBONMONOXIDE], [NITROGENOXIDE], [ISDISPLAYED], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'e55e4000-6148-4619-93b3-0eb382ce004a', 151, 1, 1, 1, 1, 1, 1, 0, CAST(N'2023-09-10T18:27:11.760' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_ENVIRONMENTDATA] OFF
/****** Object:  Index [PK_TBL_ACCOUNT_ACCOUNTID]    Script Date: 11/09/2023 10:44:56 am ******/
ALTER TABLE [dbo].[TBL_ACCOUNTS] ADD  CONSTRAINT [PK_TBL_ACCOUNT_ACCOUNTID] PRIMARY KEY NONCLUSTERED 
(
	[ACCOUNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TBL_ACCOUNT_NAME]    Script Date: 11/09/2023 10:44:56 am ******/
ALTER TABLE [dbo].[TBL_ACCOUNTS] ADD  CONSTRAINT [UQ_TBL_ACCOUNT_NAME] UNIQUE NONCLUSTERED 
(
	[FIRSTNAME] ASC,
	[MIDDLENAME] ASC,
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ACTIVATIONID]    Script Date: 11/09/2023 10:44:56 am ******/
ALTER TABLE [dbo].[TBL_ACTIVATION] ADD  CONSTRAINT [PK_ACTIVATIONID] PRIMARY KEY NONCLUSTERED 
(
	[ACTIVATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TBL_ENFIRONMENTDATA_EDID]    Script Date: 11/09/2023 10:44:56 am ******/
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  CONSTRAINT [UQ_TBL_ENFIRONMENTDATA_EDID] UNIQUE NONCLUSTERED 
(
	[EDID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ACCOUNTS] ADD  CONSTRAINT [DF_TBL_ACCOUNT_ACCOUNTID]  DEFAULT (newid()) FOR [ACCOUNTID]
GO
ALTER TABLE [dbo].[TBL_ACCOUNTS] ADD  CONSTRAINT [DF_TBL_ACCOUNT_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_ACTIVATION] ADD  CONSTRAINT [DF_TBL_ACTIVATION_ACTIVATIONID]  DEFAULT (newid()) FOR [ACTIVATIONID]
GO
ALTER TABLE [dbo].[TBL_ACTIVATION] ADD  CONSTRAINT [DF_TBL_ACTIVATION_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_CONFIGURATION] ADD  DEFAULT (newid()) FOR [CONFIGURATIONID]
GO
ALTER TABLE [dbo].[TBL_CONFIGURATION] ADD  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  DEFAULT (newid()) FOR [ENVIRONMENTDATEID]
GO
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  DEFAULT ((0)) FOR [HUMIDITY]
GO
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  DEFAULT ((0)) FOR [AMMONIA]
GO
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  DEFAULT ((0)) FOR [SULFURDIOXICE]
GO
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  DEFAULT ((0)) FOR [TEMPERATURE]
GO
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  DEFAULT ((0)) FOR [CARBONMONOXIDE]
GO
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  DEFAULT ((0)) FOR [NITROGENOXIDE]
GO
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  DEFAULT ((0)) FOR [ISDISPLAYED]
GO
ALTER TABLE [dbo].[TBL_ENVIRONMENTDATA] ADD  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
USE [master]
GO
